[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"
boto3 = "*"
celery = "*"
django = "*"
django-admin-rangefilter = "*"
django-axes = "*"
django-cacheops = "*"
django-clearcache = "*"
django-cors-headers = "*"
django-countries = "*"
django-dbbackup = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-filter = "*"
django-health-check = "*"
django-hijack = "*"
django-permissions-policy = "*"
django-phonenumber-field = "*"
django-redis = "*"
django-simple-history = "*"
django-split-settings = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-datatables = "*"
djangorestframework-simplejwt = "*"
django-allauth = "==0.51.0"
django-ses = "*"
drf-extra-fields = "*"
drf-spectacular = "*"
dj-rest-auth = "*"
drf-extensions = "*"
gunicorn = "*"
httptools = "*"
messagebird = "*"
pandas = "*"
phonenumbers = "*"
pillow = "*"
pyhumps = "*"
psutil = "*"
psycopg2-binary = "*"
python-magic = "*"
redis = "*"
requests = "*"
uvicorn = "*"
django-taggit = "*"
pyotp = "*"
channels = "*"
channels-redis = "*"

[dev-packages]
argon2-cffi = "*"
boto3 = "*"
celery = "*"
django = "*"
django-admin-rangefilter = "*"
django-axes = "*"
django-cacheops = "*"
django-clearcache = "*"
django-cors-headers = "*"
django-countries = "*"
django-dbbackup = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-filter = "*"
django-health-check = "*"
django-hijack = "*"
django-permissions-policy = "*"
django-phonenumber-field = "*"
django-redis = "*"
django-simple-history = "*"
django-split-settings = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-datatables = "*"
djangorestframework-simplejwt = "*"
django-allauth = "==0.51.0"
django-ses = "*"
drf-extra-fields = "*"
drf-spectacular = "*"
dj-rest-auth = "==2.2.5"
drf-extensions = "*"
gunicorn = "*"
httptools = "*"
messagebird = "*"
pandas = "*"
phonenumbers = "*"
pillow = "*"
pyhumps = "*"
psutil = "*"
psycopg2-binary = "*"
python-magic = "*"
redis = "*"
requests = "*"
uvicorn = "*"
django-taggit = "*"
pyotp = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3.10"
